*{
    margin: 0;
    padding: 0;
}
.principal{
    width: 800px;
    height: 600px;
    background-image: url("gameboy.png");
    background-repeat: no-repeat;
    background-size: cover;
}
canvas {
    background-color: rgb(149, 169, 144);
    position: relative;
    top: 193px;
    left: 235px;
}
.start{
    width: 25px;
    height: 25px;
    background-color: rgb(214, 39, 39);
    position: absolute;
    top: 378px;
    left: 161px;
    border-radius: 50%;
}